@model MyBlog.Web.Models.Posts.Post
@{
    ViewData["AdminTitle"] = "ویرایش خبر";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info card-outline">
                <div class="row">
                    <div class="col-12">
                        <div class="content-header">خبر جدید</div>
                    </div>
                </div>
                <form method="post" asp-area="PanelAdmin" asp-controller="Posts" asp-action="EditPost" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImageName" />
                    <section id="simple-validation">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label class="text-success" style="font:bold;">عنوان</label>
                                                            <input type="text" asp-for="Title" class="form-control" placeholder="" required="" data-validation-required-message="عنوان اجباری است">
                                                            <div class="help-block"><span asp-validation-for="Title"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">تصویر محصول</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label class="card-title">فایل تصویر</label>
                                                            <input type="file" style="color:darkseagreen;" name="postImage" id="postImage">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="checkbox" name="@nameof(Model.IsSpecial)" value="true" @(Model.IsSpecial ? "checked" : "") /> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label class="text-info" style="font:bolder;">توضیح اصلی خبر</label>
                                                            <textarea asp-for="Description" style="width: 100%" rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</section>