 <!-- footer area start -->
<footer class="footer-area style-01">
    <div class="footer-top">
        <div class="container custom-container-01">
            <div class="row">
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-3">
                    <div class="footer-widget">
                        <div class="logo-wrapper">
                            <a href="index.html" class="logo">
                                <img src="/site/img/logo/02.png" alt="logo">
                            </a>
                        </div>
                        <div class="content">
                            <p class="info">یک مجموعه پیشرفته خانگی منحرف شده که شما را پیر می کند. ممکن است مالکیت افکار خنده کوچک خود را که از راه ملاقات کرده بود، تهیه کرد. که می تواند دید مرد مهمان در حال حاضر شنیده اما.</p>
                        </div>
                        <div class="social-icon">
                            <ul class="social-link-list style-02">
                                <li class="link-item">
                                    <a href="#">
                                        <i class="lab la-facebook-f facebook icon"></i>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="#">
                                        <i class="lab la-twitter twitter icon"></i>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="#">
                                        <i class="lab la-linkedin-in linkedin icon"></i>
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="#">
                                        <i class="lab la-youtube youtube  icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-7 col-xl-2">
                    <div class="footer-widget">
                        <h4 class="widget-title">لینک های مفید</h4>
                        <ul class="footer-content-list">
                            <li class="content-item">
                                <a href="#">
                                    <i class="las la-angle-right icon"></i>
                                    خانه
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-three-column.html">
                                    <i class="las la-angle-right icon"></i>
                                    مد
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-standard-right-sidebar.html">
                                    <i class="las la-angle-right icon"></i>
                                    تجارت
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-details-left-sidebar.html">
                                    <i class="las la-angle-right icon"></i>
                                    سفر
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-list-right-sidebar.html">
                                    <i class="las la-angle-right icon"></i>
                                    ورزشی
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-standard-right-sidebar.html">
                                    <i class="las la-angle-right icon"></i>
                                    تکنولوژی
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="video.html">
                                    <i class="las la-angle-right icon"></i>
                                    ویدیو
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="blog-details-02.html">
                                    <i class="las la-angle-right icon"></i>
                                    وبلاگ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="footer-widget">
                        <h4 class="widget-title">آخرین خبرها</h4>
                        <ul class="recent-blog-post-style-01">
                            <li class="single-blog-post-item">
                                <div class="thumb">
                                    <img src="/site/img/top-stories/index-01/mini/01.jpg" alt="image">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="blog-details-02.html">من پولم را درست در جایی که می توانم معلق بودن را ببینم دوست دارم</a>
                                    </h4>
                                    <div class="post-meta">
                                        <ul class="post-meta-list style-02">
                                            <li class="post-meta-item date">
                                                <span class="text">25 اسفند 1400</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="single-blog-post-item">
                                <div class="thumb">
                                    <img src="/site/img/top-stories/index-01/mini/02.jpg" alt="image">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="blog-details-02.html">من پولم را درست در جایی که می توانم معلق بودن را ببینم دوست دارم</a>
                                    </h4>
                                    <div class="post-meta">
                                        <ul class="post-meta-list style-02">
                                            <li class="post-meta-item date">
                                                <span class="text">25 اسفند 1400</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="single-blog-post-item">
                                <div class="thumb">
                                    <img src="/site/img/top-stories/index-01/mini/03.jpg" alt="image">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="blog-details-02.html">من پولم را درست در جایی که می توانم معلق بودن را ببینم دوست دارم</a>
                                    </h4>
                                    <div class="post-meta">
                                        <ul class="post-meta-list style-02">
                                            <li class="post-meta-item date">
                                                <span class="text">25 اسفند 1400</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">در اینستاگرام دنبال کنید</h4>
                        <ul class="footer-content-list instragram">
                            <li class="content-item">
                                <a href="/site/img/trendy-stories/index-01/01.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/01.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/02.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/videos/index-01/big/01.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/03.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/04.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/05.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/06.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/07.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/08.jpg" alt="image">
                                </a>
                            </li>
                            <li class="content-item">
                                <a href="/site/img/popular-stories/index-01/02.jpg" data-fancybox="">
                                    <img src="/site/img/instgram/09.jpg" alt="image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom dark-bg-03">
        <div class="copyright-area">
            <div class="container custom-container-01">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-area-inner">
                            <div class="single-copyright-item">
                                <p class="copyright">سیاست حفظ حریم خصوصی | شرایط و ضوابط</p>
                            </div>
                            <div class="single-copyright-item">
                                <p class="copyright">طراحی و توسعه توسط گروه ستین</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->